
  
  $primary-color: #0B172E;
  $secondary-color: #E5E5E5;
  $blue-color: #09E1FF;
  $green-color: #03FF85;

  .trending__section {
    background-color: $primary-color;
    padding: 3rem;
  
    .trending__section-first {
      color: $secondary-color;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      margin-left: 2rem;
      h3 {
        font-size: 1.8rem;
      }
      .trending__section-arrow {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
  
        .first__arrow {
          border-style: dotted;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
          border-image-slice: 1;
          border-width: 2px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          svg {
            position: absolute;
            margin: 0.5rem 0.3rem;
            font-size: 1.5rem;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
        .second__arrow {
          background: linear-gradient(
            90deg,
            rgba(8, 228, 246, 1) 0%,
            rgba(5, 252, 146, 1) 100%
          );
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          svg {
            position: absolute;
            margin: 0.5rem 0.5rem;
            font-size: 1.5rem;
            color: $primary-color;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .Slider__section {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
      grid-gap: 20px;
      align-items: stretch;
      margin-left: 3rem;
      
      
      .container {
        margin-block: 3rem;
      }
      
      img {
        max-width: 100%;
        display: block;
        object-fit: cover;
        height: 400px;
      }
  
      .card {
        border-radius: 5px;
        width: 20rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      .card__elements {
        padding: 0.5rem 0.1rem;
        display: flex;
        margin: 0 1rem;
        justify-content: space-between;
        .card__first-section {
          justify-content: flex-start;
          .card__title {
            color: $secondary-color;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          .card__first-section__image {
            img {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin-right: 0.8rem;
              object-fit: cover;
              border: 4px solid $blue-color;
              box-shadow: $green-color;
            }
            .card__name {
              background: linear-gradient(
                90deg,
                rgba(8, 228, 246, 1) 0%,
                rgba(5, 252, 146, 1) 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 500;
            }
          }
  
          .card__para1 {
            color: $secondary-color;
            font-size: 0.6rem;
            letter-spacing: 0.08rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          .card__first-section-price {
            color: $secondary-color;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            .card__para-small {
              font-size: 0.7rem;
            }
          }
        }
        .card__second-section {
          justify-content: flex-end;
          .card__second-section__title {
          
            color: $secondary-color;
            font-size: 0.9rem;
            margin-bottom: 1.3rem;
          }
          .card__second-section-time {
            display: flex;
            margin-bottom: 4rem;
            .card__second-section-first-div {
              display: flex;
              flex-direction: column;
              gap: 0.8rem;
              justify-content: flex-start;
              align-items: flex-start;
              margin-right: 1rem;
              font-size: 0.8rem;
              
              color: $secondary-color;
              p {
                letter-spacing: 0.1rem;
              }
              .paragraph {
                letter-spacing: 0.1rem;
                font-size: 0.5rem;
              }
            }
  
            .card__second-section-second-div {
              display: flex;
              flex-direction: column;
              gap: 0.8rem;
              justify-content: flex-start;
              align-items: flex-start;
              margin-right: 1rem;
              font-size: 0.8rem;
              color: $secondary-color;
              p {
                letter-spacing: 0.1rem;
              }
              .paragraph {
                letter-spacing: 0.1rem;
                font-size: 0.5rem;
              }
            }
            .card__second-section-third-div {
              display: flex;
              flex-direction: column;
              gap: 0.8rem;
              justify-content: flex-start;
              align-items: flex-start;
              margin-right: 1rem;
              font-size: 0.8rem;
              color: $secondary-color;
              p {
                letter-spacing: 0.1rem;
                font-weight: 700;
              }
              .paragraph {
                letter-spacing: 0.1rem;
                font-size: 0.5rem;
              }
            }
          }
          button {
            padding: 0.5rem 0.7rem;
            background: linear-gradient(
              90deg,
              rgba(8, 228, 246, 1) 0%,
              rgba(5, 252, 146, 1) 100%
            );
            border: none;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            svg {
              background: none;
              font-size: 1rem;
            }
            &:hover {
              transform: translateX(5px) scale(1.2);
            }
          }
        }
      }
    }
  }



  
  